!!!
%html
	%head
		%title= current_account.name
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%header 
		.nav-container 
			= link_to image_tag( 'sexpertise.png'), '/', :class => "central-img"
			= render 'default/shared/navigation'
	%body
		.container
			- flash.each do |message_type, message|
				%div{:class => "alert alert-#{message_type}"}= message
			= yield
			= debug(params) if Rails.env.development?