!!!
%html
	%head
		%title= current_account.name
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%header 
		.nav-container 
			= link_to root_path do 
				= image_tag 'logo.png', :class => "logo"
			-# %a#header-icon.header-icon{:href => "#"} ☰

			= render 'default/shared/navigation'
			
	%body
		- flash.each do |message_type, message|
			%div{:class => "alert alert-#{message_type}"}= message
		= yield
		-# = debug(params) if Rails.env.development?

		.footer
			<hr /> 
			.icons
				= link_to 'https://www.facebook.com/Sexpert1se/' do 
					= image_tag 'facebook-logo.png', :class => "footer-icon"
				= link_to 'https://www.instagram.com/sexpert1se/' do 
					= image_tag 'instagram-symbol.png', :class => "footer-icon"
				= link_to 'https://twitter.com/SEXPERT1SE/' do 
					= image_tag 'twitter-sign.png', :class => "footer-icon"
				= link_to 'mailto:lisa@sexpertise.org' do 
					= image_tag 'envelope.png', :class => "footer-icon email"
