.container.payments

  - if logged_in? == true
    = link_to "Log out", logout_path, method: "delete", class: "cta log-out"

    .wrapper
      .ctas
        =image_tag "cta-logo.png", :class => "cta-logo"

      .checkout.container
        .content
          %header
            %h4 
              300 dollars for six 60 minute sessions <br />
              750 dollars for eight 90 minute couples workshops <br />
              Sexual wellness coaching is on a sliding scale - <br /> please contact the sexperts #{link_to "Lisa", 'mailto:lisa@sexpertise.org'} or #{link_to "Rachel", 'mailto:rachel@sexpertise.org'} regarding pricing.
          = form_tag("/checkouts", method: "post", id: "payment-form") do
            %section
              .bt-drop-in-wrapper
                #bt-dropin
              %label{:for => "first_name"}
                %span.input-label First Name
                .input-wrapper.amount-wrapper
                  %input#cardholder_name{:name => "first_name", :placeholder => "First Name", :type => "text"}/
              %label{:for => "last_name"}
                %span.input-label Last Name
                .input-wrapper.amount-wrapper
                  %input#cardholder_name{:name => "last_name", :placeholder => "Last Name", :type => "text"}/
              %label{:for => "email_address"}
                %span.input-label Email Address
                .input-wrapper.amount-wrapper
                  %input#cardholder_name{:name => "email_address", :placeholder => "Email Address", :type => "email"}/
              %label{:for => "phone_number"}
                %span.input-label Phone Number
                .input-wrapper.amount-wrapper
                  %input#cardholder_name{:name => "phone_number", :placeholder => "Phone Number", :type => "tel"}/
              %label{:for => "amount"}
                %span.input-label Amount
                .input-wrapper.amount-wrapper
                  %input#amount{:min => "1", :name => "amount", :placeholder => "Amount", :type => "tel"}/
                  %input{:type => "submit", :value => "Purchase", :class => "cta"}/
    %script{:src => "https://js.braintreegateway.com/js/braintree-2.27.0.min.js"}
    :javascript
      (function () {
        var checkout = new Demo({
          formID: 'payment-form'
        });
        var client_token = "#{@client_token}";
        braintree.setup(client_token, "dropin", {
          container: "bt-dropin" 
        });
      })()
  - else
    .wrapper
      .ctas
        =image_tag "cta-logo.png", :class => "cta-logo"
      .row
        .col-md-6.col-md-offset-3
          = form_for(:session, url: login_path) do |f|
            = f.label :email
            = f.email_field :email, class: 'form-control'
            = f.label :password
            = f.password_field :password, class: 'form-control'
            = f.submit "Log in", class: "cta"
          .sign-up-cta
            New user? #{link_to "Sign up now!", signup_path}