.wrapper
  .response.container
    .container.payments
      - if @result
        %h1= @result[:header]
        %section
          %p= @result[:message]
      - else
        %section
          %p Your transaction did not go through. Please try again and contact an admin if this problem persists.
      %section
        %a.button.primary.back{:href => "/"}
          %span Go back to Sexpertise
      .transaction-table
        %h3 Transaction Summary
        %section
          %table{:cellpadding => "0", :cellspacing => "0"}
            %tbody
              %tr
                %th First name
                %td= @transaction.customer_details.first_name
              %tr
                %th Last name
                %td= @transaction.customer_details.last_name
              %tr
                %th Customer location
                %td= @transaction.credit_card_details.customer_location
              %tr
                %th Transaction id 
                %td= @transaction.id
              %tr
                %th Transaction amount
                %td= @transaction.amount
              %tr
                %th Transaction time
                %td= @transaction.created_at
              %tr
                %th Last 4 digits of card 
                %td= @transaction.credit_card_details.last_4
              %tr
                %th Card type
                %td= @transaction.credit_card_details.card_type
              %tr
                %th Card expiration date
                %td= @transaction.credit_card_details.expiration_date
